@model Webphone.Models.Blog;
@{
    List<Blog_Comment> blog_Comments = ViewBag.blog_Comments;
}
<!-- Blog Details Hero Begin -->
<section class="blog-details-hero set-bg" data-setbg="img/aha.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog__details__hero__text">
                    <h2>@Html.DisplayFor(model => model.Title)</h2>
                    <ul>
                        <li>@Html.DisplayFor(model => model.Author)</li>
                        <li>@Html.DisplayFor(model => model.CreateDate)</li>
                        <li>@blog_Comments.Count() Comments</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero End -->
<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 order-md-1 order-2">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Categories</h4>
                        <ul>
                            <li><a href="#">All</a></li>
                            <li><a href="#">Beauty (20)</a></li>
                            <li><a href="#">Food (5)</a></li>
                            <li><a href="#">Life Style (9)</a></li>
                            <li><a href="#">Travel (10)</a></li>
                        </ul>
                    </div>
                    
                    @await Component.InvokeAsync("RecentBlog")

                    <div class="blog__sidebar__item">
                        <h4>Search By</h4>
                        <div class="blog__sidebar__item__tags">
                            <a href="#">Apple</a>
                            <a href="#">Beauty</a>
                            <a href="#">Vegetables</a>
                            <a href="#">Fruit</a>
                            <a href="#">Healthy Food</a>
                            <a href="#">Lifestyle</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 order-md-1 order-1">
                <div class="blog__details__text">
                    <img style="height:563px" src="@Html.DisplayFor(model => model.Images)" alt="">
                    <h3> @Html.DisplayFor(model => model.Title) </h3>
                    <p>@Html.Raw(Model.Contents)</p>
                </div>
                <div class="blog__details__content">
                    <div class="row">
               
                        <div class="feedback-area section-space-top-55">
                            <h4 class="heading mb-1">Leave a comment</h4>
                            <form class="feedback-form pt-8" action="#">
                                <div class="group-input">
                                    <div class="form-field me-md-6 mb-6 mb-md-0">
                                        <input id="c_name" type="text" name="name" placeholder="Your Name*" class="input-field">
                                    </div>
                                    <div class="form-field">
                                        <input id="c_email" type="text" name="email" placeholder="Your Email*" class="input-field">
                                    </div>

                                </div>
                                <div class="form-field mt-6">
                                    <textarea id="c_message" name="message" placeholder="Message" class="textarea-field"></textarea>
                                </div>
                                <div class="button-wrap mt-8">
                                    <button id="c_submit" type="button" value="submit" class="btn btn-custom-size lg-size btn-secondary btn-primary-hover btn-lg rounded-0" name="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->
<input type="hidden" id="blog_id" value="@Model.Blog_Id" />
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#c_submit").click(function () {
                _id = $("#blog_id").val();
                _name = $("#c_name").val();
                _email = $("#c_email").val();
                _message = $("#c_message").val();
                $.ajax({
                    url: "/Blog/Create",
                    type: "Blog",
                    data: { id: _id, name: _name, phone: _phone, email: _email, message: _message },
                    success: function (result) {
                        if (result != null) {
                            $("#c_name").val("");
                            $("#c_email").val("");
                            $("#c_message").val("");
                            _date = Untils.getCurrentDate();
                            toastr.success('Gửi thành công');
                            _sHtml = '<div class="blog-comment-item mb-8"> <div class="blog-comment-img"> <img src="/assets/images/avatar/1.jpg" alt="Avatar"> </div> <div class="blog-comment-content"> <div class="user-meta"> <span><strong>' + _name + ' -</strong> ' + _date + '</span> <a class="btn btn-link hover-white d-none d-md-flex" href="javascript:void(0)"> <i class="fa fa-reply me-2"></i> Reply </a> </div> <p class="user-comment mb-0">' + _message + '</p> <a class="btn btn-link hover-white d-inline-flex d-md-none mt-5" href="javascript:void(0)"> <i class="fa fa-reply me-2"></i> Reply </a> </div> </div>';
                            $("#blog_comment").append(_sHtml);
                        }
                        else {
                            toastr.success('Gửi không thành công');
                        }
                    }
                })
            });
        })
    </script>
}
